node_modules/
.env
.env.*
!.env.example
*.log
*.sqlite*
auth.json
keyv.sqlite*
box.dat
BeanCache/
**/cache/*.json
**/.ShareCode/
**/.bak_ShareCode/
**/.tmp/
*helpcode*
__pycache__/
*.pyc
config/CK_WxPusherUid.json
config/account*.json
config/address*.json
.DS_Store
function/user.js
utils/user.js
